In [10]:
from sklearn.decomposition import PCA
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
print("done")

done

In [3]:
prices_data = pd.read_csv("datasets/close_prices.csv")
prices_data.head()

,date,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [20]:
pca =  PCA(10)
pca.fit(prices_data.iloc[:, 1:])
pca.explained_variance_ratio_[:4] # 4 components to explain 0.9 variance

array([0.73897118, 0.11007169, 0.04995088, 0.0287492 ])

In [40]:
transformed =  pca.transform(prices_data.iloc[:, 1:])
first_component = transformed[:, 0]

In [41]:
DDD = pd.read_csv("datasets/djia_index.csv")
DDD.head()

         date          ^DJI
0  2013-09-23  15401.379883
1  2013-09-24  15334.589844
2  2013-09-25  15273.259766
3  2013-09-26  15328.299805
4  2013-09-27  15258.240234

In [44]:
round(np.corrcoef(DDD["^DJI"], first_component)[0, 1], 2)

0.91

In [34]:
DDD["^DJI"]

0      15401.379883
1      15334.589844
2      15273.259766
3      15328.299805
4      15258.240234
           ...
369    17895.220703
370    17749.310547
371    17977.419922
372    17849.080078
373    18076.189453
Name: ^DJI, Length: 374, dtype: float64

In [61]:
sorted(zip(pca.components_[0],prices_data.columns.values[1:]), key= lambda x:abs(x[0]), reverse=True)

[(0.5796839457473609, 'V'),
 (0.32961558381585265, 'MMM'),
 (0.3215640173761907, 'UNH'),
 (0.28899602916707423, 'HD'),
 (-0.2649987952548474, 'IBM'),
 (0.25122703209089803, 'GS'),
 (0.23390628951791742, 'DIS'),
 (0.21188886780132193, 'NKE'),
 (0.18947974464619474, 'TRV'),
 (-0.12585993303584914, 'CVX'),
 (0.12064492322861024, 'BA'),
 (0.1140895667145121, 'DD'),
 (0.09313201682640568, 'INTC'),
 (0.09139484029206317, 'JNJ'),
 (0.08716143338286816, 'WMT'),
 (0.07773169539162306, 'PG'),
 (0.07622956987651157, 'MSFT'),
 (0.07138971328880263, 'MRK'),
 (0.05368348732868326, 'UTX'),
 (-0.051661271080882885, 'CAT'),
 (0.050484236916854025, 'CSCO'),
 (0.0469879340265936, 'JPM'),
 (-0.042942141992919576, 'XOM'),
 (0.029054941715540454, 'KO'),
 (-0.026106882759562997, 'MCD'),
 (0.02309229406885349, 'PFE'),
 (0.016138383984734793, 'AXP'),
 (-0.007205945895008226, 'T'),
 (-0.006205137490081553, 'GE'),
 (0.00010912222981037917, 'VZ')]

In [58]:
pca.singular_values_

array([753.53936404, 290.82384392, 195.9132354 , 148.62951526,
       130.4736952 , 121.82829504,  72.01066717,  68.69238032,
        49.6329401 ,  48.4592519 ])