In [62]:
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [5]:
# download data
url = "https://d3c33hcgiwev3.cloudfront.net/_ea07570741a3ec966e284208f588e50e_titanic.csv?Expires=1601164800&Signature=EhsF~lqzBBEEnBfb3a7bdGBEUUnEnzRt1Cn5wLsJbPRP9L~pJjZRrADQcEGHJrDoSUGonDP96aCPZSTL0g2Mxu3cCQ-p4IGP8eL8o7W9CZXRpvvOLwANpGSE0uKsG801nnXGJ6tDNj4jNf3rl3-~k8~6gp63kZkKKbtx2uUuBsM_&Key-Pair-Id=APKAJLTNE6QMUY6HBC5A"
r = requests.get(url)

with open('datasets/titanic.csv', 'wb') as f:
    f.write(r.content)

In [10]:
titanic = pd.read_csv("datasets/titanic.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [81]:
# Task 1
titanic.groupby(["Sex"]).count()
# Ideal
titanic.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [27]:
# Task 2
survived_and_not = titanic.groupby('Survived').count()['PassengerId']
print(survived_and_not)
np.round(survived_and_not[1] / np.sum(survived_and_not) * 100, 2)

Survived
0    549
1    342
Name: PassengerId, dtype: int64

38.38

In [31]:
# Task 3
amount_passenger_by_class = titanic.groupby('Pclass').count()['PassengerId']
print(amount_passenger_by_class)
np.round(amount_passenger_by_class[1] / np.sum(amount_passenger_by_class) * 100, 2)

Pclass
1    216
2    184
3    491
Name: PassengerId, dtype: int64

24.24

In [40]:
# Task 4
ages = titanic["Age"]
print(ages.describe())
print("Mean: ", np.round(ages.mean(), 2), "Median :", np.round(ages.median(), 2))

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64
Mean:  29.7 Median : 28.0

In [48]:
# Task 5
corr_mat = titanic.loc[:, ["SibSp", "Parch"]].corr()
print(corr_mat)
corr_coef = corr_mat.iloc[1, 0]
np.round(corr_coef, 2)

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

0.41

In [78]:
# Task 6
females_names = titanic[titanic.Sex == "female"].Name
pattern = re.compile(r"(Miss|Mme|Ms|Mrs)\.\s([^\)\(\n]+)?(\(([\S ]+)\))?" )
name_list = []
for name in females_names:
    re_search = re.search(pattern, name)
    try:
        if re_search.group(1) == "Mrs":
            name_raw = re_search.group(4)
        else:
            name_raw = re_search.group(2)
        name_list.append(name_raw.strip().split(" ")[0])
    except AttributeError:
        print(name)
print()
from collections import Counter
print(Counter(name_list).most_common(10))

Masselmani, Mrs. Fatima
Thorne, Mrs. Gertrude Maybelle
Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")
Meanwell, Miss. (Marion Ogden)
Sagesser, Mlle. Emma
Kelly, Mrs. Florence "Fannie"
Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)
Leader, Dr. Alice (Farnham)
Osman, Mrs. Mara

[('Anna', 15), ('Mary', 14), ('Elizabeth', 11), ('Margaret', 10), ('Alice', 6), ('Bertha', 5), ('Maria', 5), ('Helen', 5), ('Ellen', 4), ('Marie', 4)]